# Generación de PDF
reportlab
openpyxl

# Servidor web
Flask
gunicorn

# Dispositivo ZK
pyzk

# Scheduler para sync automático
schedule

# Lectura de archivos .ods/.obd (OpenDocument Spreadsheet)
odfpy
